<mat-toolbar>
  <span>Strategic session creation</span>
  <div class="div-spacer"></div>
  <button mat-button (click)="createStrategicSession()" [disabled]="form.invalid">
    <mat-icon>save_alt</mat-icon>
  </button>
</mat-toolbar>

<div class="outerContainer">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <br>
        <mat-form-field appearance="outline" class="common-form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="common-form-field">
          <mat-label>Universe</mat-label>
          <mat-select formControlName="universeId">
            <mat-option *ngFor="let universe of universes" [value]="universe.id">
              {{universe.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="common-form-field">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

</div>

<pre>{{this.form.value | json}}</pre>