<mat-toolbar>
    <span>Character creation</span>
    <div class="div-spacer"></div>
    <button mat-button (click)="createCharacter()"><mat-icon>save</mat-icon></button>
</mat-toolbar>

<div class="outerContainer">
    <form [formGroup]="characterCreationFormGroup">

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Name</mat-label>
            <input name="name" matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Level</mat-label>
            <input name="level" matInput type="text" formControlName="level">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Race</mat-label>
            <mat-select formControlName="raceId">
                <mat-option *ngFor="let race of races" [value]="race.id">{{race.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Profession</mat-label>
            <mat-select formControlName="professionId">
                <mat-option *ngFor="let profession of professions" [value]="profession.id">{{profession.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Realm</mat-label>
            <mat-select formControlName="realmId">
                <mat-option value="channeling">Channeling</mat-option>
                <mat-option value="essence">Essence</mat-option>
                <mat-option value="mentalism">Mentalism</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input name="age" matInput type="text" formControlName="age">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input name="height" matInput type="text" formControlName="height">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Weight</mat-label>
            <input name="weight" matInput type="text" formControlName="weight">
        </mat-form-field>

        <div formGroupName="baseAttributes">
            <mat-list class="example-list">
                <mat-list-item>
                    <div class="attribute-name">Agility</div>
                    <mat-slider formControlName="ag" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.ag}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Constitution</div>
                    <mat-slider formControlName="co" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.co}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Memory</div>
                    <mat-slider formControlName="me" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.me}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Reasoning</div>
                    <mat-slider formControlName="re" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.re}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Self discipline</div>
                    <mat-slider formControlName="sd" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.sd}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Empathy</div>
                    <mat-slider formControlName="em" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.em}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Intuition</div>
                    <mat-slider formControlName="in" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.in}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Presence</div>
                    <mat-slider formControlName="pr" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.pr}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Quickness</div>
                    <mat-slider formControlName="qu" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.qu}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Strength</div>
                    <mat-slider formControlName="st" [max]="100" [min]="1" thumbLabel=true
                        (change)="updateAttributeCost()">
                    </mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.st}}</div>
                </mat-list-item>
            </mat-list>
        </div>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Available attributes points</mat-label>
            <input name="attributesRoll" matInput type="text" formControlName="attributesRoll"
                (change)="updateAttributeCost()">
            <mat-icon matSuffix (click)="createRandomAttributesRoll()">cached</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Remaining attributes points</mat-label>
            <input name="attributesRemaining" matInput type="text" formControlName="attributesRemaining"
                readonly="true">
        </mat-form-field>


        <mat-card>
            <mat-card-title>Weapon category priority</mat-card-title>
            <mat-card-subtitle>Drag and drop </mat-card-subtitle>
            <mat-card-content>
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <mat-list role="list">
                        <mat-list-item role="listitem"
                            *ngFor="let wCat of this.characterCreationFormGroupValue.weaponCategoryPriority" cdkDrag>
                            <mat-icon> drag_handle</mat-icon>
                            <span>{{wCat}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>