<div fxLayout="row" fxLayoutAlign="left start" *ngIf="character" class="row">

    <div fxFlex="20" fxLayoutAlign="center center" [style]="getHpStyle()" class="row-cell-hp">
        <span [fxHide.lt-sm]="true">
        {{character?.hp?.current}}/{{character?.hp?.max}}
        </span>
    </div>

    <div fxFlex="70" fxLayoutAlign="left center" class="row-cell-name">
        <div fxLayout="column">
            <div>
                {{character?.name}}
            </div>
            <div fxLayout="row" [fxHide.lt-sm]="true">
                <span class="character-description">{{character?.shortDescription}}</span>
                <app-combat-status-icons [character]="character"></app-combat-status-icons>
            </div>
        </div>
    </div>

    <div fxFlex="10" fxLayoutAlign="center center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openTacticalCharacterDialog()">
                <mat-icon>person</mat-icon>
                <span>Open</span>
            </button>
            <button mat-menu-item (click)="openDialogSetHitPoints()">
                <mat-icon>edit</mat-icon>
                <span>Set hit points</span>
            </button>
            <button mat-menu-item (click)="openDialogSetHitPoints()">
                <mat-icon>edit</mat-icon>
                <span>Set exhaustion points</span>
            </button>
            <button mat-menu-item (click)="openDialogSetHitPoints()">
                <mat-icon>edit</mat-icon>
                <span>Set buffs and debuffs</span>
            </button>
            <button mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>

    </div>
</div>