<div *ngIf="trainingPackage">
    <div fxLayout="row">
        <div fxFlex="30" fxLayout="column">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input [(ngModel)]="trainingPackage.name" matInput disabled="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <input [(ngModel)]="trainingPackage.type" matInput disabled="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Time acquisition</mat-label>
                    <input [(ngModel)]="trainingPackage.timeAcquisition" matInput disabled="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Starting money</mat-label>
                    <input [(ngModel)]="trainingPackage.startingMoney" matInput disabled="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Stat gains</mat-label>
                    <input [(ngModel)]="trainingPackage.statGains" matInput disabled="true">
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="50">
            <span class="text-detail">{{trainingPackage.description}}</span>
        </div>
    </div>
</div>