<mat-toolbar>
    <span>Moving maneuvers</span>
    <div class="div-spacer"></div>
</mat-toolbar>

<div class="outerContainer">

    <div [formGroup]="maneuverForm" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="difficulty">
                <mat-option *ngFor="let option of difficulties" [value]="option.key">{{option.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Roll</mat-label>
            <input matInput type="text" formControlName="roll">
        </mat-form-field>
        <div>
            <button mat-button (click)="execute()" [disabled]="maneuverForm.invalid">Execute</button>
        </div>
    </div>
</div>