<mat-toolbar>
    <span>Character / {{character?.name}}</span>
    <div class="div-spacer"></div>
    <div *ngIf="availableDevelopmentPoints() > 0">
        <span>&nbsp;</span>
        <span [matBadge]="availableDevelopmentPoints()" matBadgeColor="primary" matTooltip="Available development points">
            <mat-icon>upload</mat-icon>
        </span>
    </div>
    <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer">

    <mat-tab-group mat-align-tabs="start">

        <mat-tab label="Overview">
            <div *ngIf="character">
                <div fxLayout="row" fxLayoutGap="15pt">
                    <div fxFlex="20">
                        <app-character-basic-info [character]="character"></app-character-basic-info>
                    </div>
                    <div fxFlex="60">
                        <app-character-attributes [characterInfo]="character"></app-character-attributes>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Inventory">

            <div *ngIf="character">
                <app-character-item-view [character]="character"></app-character-item-view>
            </div>

        </mat-tab>

        <mat-tab label="Skill category development">
            <app-character-skill-category-list [character]="character"
                [skillCategoryDataSource]="skillCategoryDataSource" (onCharacterUpdated)="reloadCharacterInfo($event)">
            </app-character-skill-category-list>
        </mat-tab>

        <mat-tab label="Skill development">
            <app-character-skill-list [character]="character" [skillDataSource]="skillDataSource"
                (onCharacterUpdated)="reloadCharacterInfo($event)"></app-character-skill-list>
        </mat-tab>

        <mat-tab label="Training packages">
            Under development.
        </mat-tab>

        <mat-tab label="Background options">
            Under development.
        </mat-tab>


    </mat-tab-group>

</div>

<!--
<br>
<br>
<br>
<br>
<br>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Debug
            </mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{this.character | json}}</pre>
    </mat-expansion-panel>
</mat-accordion>

-->