<mat-toolbar>
    <span>
        <a routerLink="/tactical-sessions/detail/{{tacticalSession.id}}">{{tacticalSession.name}}</a>
        <span> - Round {{this.tacticalRound.round}}</span>

    </span>
    <div class="div-spacer"></div>
    <button mat-button (click)="startRound()">Start round</button>
</mat-toolbar>

<div class="outerContainer">

    <div fxLayout="row" *ngFor="let character of characters" class="div-tactical">

        <div fxFlex="36" fxLayoutAlign="left center" class="div-tactical">
            <app-tactical-view-character [character]="character" style="width: 100%;"></app-tactical-view-character>
        </div>

        <div fxFlex="18" fxLayoutAlign="left center" class="action-declaration">
            <app-tactical-view-character-action [tacticalSession]="this.tacticalSession" [tacticalRound]="this.tacticalRound" [source]="character"
                [priority]="'snap'" [characters]="this.characters" [action]="getAction(character.id, 'snap')" [actions]="actions"
                (actionsUpdated)="this.loadActions(this.tacticalRound.id)" class="full-width">
            </app-tactical-view-character-action>
        </div>

        <div fxFlex="18" fxLayoutAlign="left center" class="action-declaration">
            <app-tactical-view-character-action [tacticalSession]="this.tacticalSession" [tacticalRound]="this.tacticalRound" [source]="character"
                [priority]="'normal'" [characters]="this.characters" [action]="getAction(character.id, 'normal')" [actions]="actions"
                (actionsUpdated)="this.loadActions(this.tacticalRound.id)" class="full-width">
            </app-tactical-view-character-action>
        </div>

        <div fxFlex="18" fxLayoutAlign="left center" class="action-declaration">
            <app-tactical-view-character-action [tacticalSession]="this.tacticalSession" [tacticalRound]="this.tacticalRound" [source]="character"
                [priority]="'deliberate'" [characters]="this.characters" [actions]="actions" [action]="getAction(character.id, 'deliberate')"
                (actionsUpdated)="this.loadActions(this.tacticalRound.id)" class="full-width">
            </app-tactical-view-character-action>
        </div>

    </div>
</div>

<br>
<br>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Debug
            </mat-panel-title>
        </mat-expansion-panel-header>
        Context:
        <pre>{{tacticalSession | json}}</pre>
        Round:
        <pre>{{tacticalRound | json}}</pre>
        Actions:
        <pre>{{actions | json}}</pre>
        Characters:
        <pre>{{characters | json}}</pre>
    </mat-expansion-panel>
</mat-accordion>