<mat-toolbar>
    <span>
        <a routerLink="/tactical-sessions/detail/{{tacticalSession.id}}">{{tacticalSession.name}}</a>
        <span> - Round {{this.tacticalRound.round}} ({{this.tacticalRound.state}})</span>
        
    </span>
    <div class="div-spacer"></div>
    <button mat-button *ngIf="!tacticalRound.state || tacticalRound.state == 'closed' || tacticalRound.state == 'action-resolution'" (click)="startRound()">Start round</button>
    <button mat-button *ngIf="tacticalRound.state == 'action-declaration'" (click)="startInitiativeDeclaration()" >Calculate initiatives</button>
    <button mat-button *ngIf="tacticalRound.state == 'initiative-declaration'" (click)="startExecutionPhase()">Execute actions</button>
</mat-toolbar>

<div class="outerContainer">

    <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="30" fxLayoutAlign="left center" class="div-tactical">Character</div>
        <div fxFlex="20" fxLayoutAlign="center center" class="div-tactical">Swap</div>
        <div fxFlex="20" fxLayoutAlign="center center" class="div-tactical">Normal</div>
        <div fxFlex="20" fxLayoutAlign="center center" class="div-tactical">Deliberate</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">Initiative</div>
    </div>

    <div fxLayout="row" fxLayoutGap="5px" *ngFor="let character of characters" style="margin-top: 5px">
        <div fxFlex="30" fxLayoutAlign="left center" class="div-tactical">

            <app-tactical-view-character [character]="character"></app-tactical-view-character>

        </div>
        <div fxFlex="20" fxLayoutAlign="left center" class="action-declaration">
            <app-tactical-view-character-action
                [source]="character.id"
                [priority]="'snap'"
                [tacticalRound]="this.tacticalRound"
                [characters]="this.characters"
                [action]="getAction(character.id, 'snap')"
                (actionsUpdated)="this.loadActions(this.tacticalRound.id)">
            </app-tactical-view-character-action>
        </div>
        <div fxFlex="20" fxLayoutAlign="left center" class="action-declaration">
            <app-tactical-view-character-action
                [source]="character.id"
                [priority]="'normal'"
                [tacticalRound]="this.tacticalRound"
                [characters]="this.characters"
                [action]="getAction(character.id, 'normal')"
                (actionsUpdated)="this.loadActions(this.tacticalRound.id)">
            </app-tactical-view-character-action>
        </div>
        <div fxFlex="20" fxLayoutAlign="left center" class="action-declaration">
            <app-tactical-view-character-action
                [source]="character.id"
                [priority]="'deliberate'"
                [tacticalRound]="this.tacticalRound"
                [characters]="this.characters"
                [action]="getAction(character.id, 'deliberate')"
                (actionsUpdated)="this.loadActions(this.tacticalRound.id)">
            </app-tactical-view-character-action>
        </div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">
            <div>+{{getCharacterInitiativeBase(character)}}&nbsp;</div>
            <div>+{{getCharacterInitiativeModifiers(character)}}&nbsp;</div>
            <div>+{{getCharacterInitiativeRoll(character)}} </div>
            <button mat-button (click)="openInitiativeDialog(character)" *ngIf="this.tacticalRound.state == 'initiative-declaration'">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>

<br>
<br>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Debug
            </mat-panel-title>
        </mat-expansion-panel-header>
        Context:
        <pre>{{tacticalSession | json}}</pre>
        Round:
        <pre>{{tacticalRound | json}}</pre>
        Actions:
        <pre>{{actions | json}}</pre>
        Characters:
        <pre>{{characters | json}}</pre>
    </mat-expansion-panel>
</mat-accordion>