<mat-toolbar>
    <span>Tactical view</span>
    <div class="div-spacer"></div>
    <button mat-button (click)="startRound()">Start round</button>
    <button mat-button>Calculate initiatives</button>
    <button mat-button>Execute actions</button>
</mat-toolbar>

<div class="outerContainer">

    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="20" fxLayoutAlign="left center" class="div-tactical">Character</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">Swap</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">Normal</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">Deliberate</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">init roll</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">initiative</div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" *ngFor="let character of characters">
        <div fxFlex="20" fxLayoutAlign="left center" class="div-tactical">
            <mat-card>
                {{character.name}}
                
            </mat-card>
        </div>
        <div fxFlex="10" fxLayoutAlign="left center" class="action-declaration">
            <!--
            <div *ngIf="!hasAction(character.id, 'snap')">
                <button mat-button (click)="openActionSelectionDialog(character.id, 'snap')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div *ngIf="hasAction(character.id, 'snap')">
                {{getAction(character.id, 'snap')?.type}}
                ({{getAction(character.id, 'snap')?.actionPercent}} %)
                <br>
                <button mat-button (click)="removeDeclaredAction(character.id, 'snap')">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        -->
            <app-tactical-view-character-action
                [source]="character.id"
                [priority]="'snap'"
                [tacticalRound]="this.tacticalRound"
                [characters]="this.characters"
                [action]="getAction(character.id, 'snap')">


            </app-tactical-view-character-action>
            
        </div>
        <div fxFlex="10" fxLayoutAlign="left center" class="action-declaration">
            
            <div *ngIf="!hasAction(character.characterId, 'normal')">
                <button mat-button (click)="openActionSelectionDialog(character.id, 'normal')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div *ngIf="hasAction(character.characterId, 'normal')">
                {{getAction(character.characterId, 'normal')?.type}}
                ({{getAction(character.characterId, 'normal')?.actionPercent}} %)
                <br>
                <button mat-button (click)="removeDeclaredAction(character.id, 'normal')">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
        <div fxFlex="10" fxLayoutAlign="left center" class="action-declaration">

            <div *ngIf="!hasAction(character.characterId, 'deliberate')">
                <button mat-button (click)="openActionSelectionDialog(character.id, 'deliberate')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div *ngIf="hasAction(character.characterId, 'deliberate')">
                {{getAction(character.characterId, 'deliberate')?.type}}
                ({{getAction(character.characterId, 'deliberate')?.actionPercent}} %)
                <br>
                <button mat-button (click)="removeDeclaredAction(character.id, 'deliberate')">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">
            <mat-form-field class="initiative-form-field" appearance="outline" style="width: 80%;">
                <mat-label>Roll</mat-label>
                <input matInput placeholder="Roll" value="">
              </mat-form-field>
        </div>
        <div fxFlex="10" fxLayoutAlign="center center" class="div-tactical">
            <mat-form-field class="initiative-form-field" appearance="outline" style="width: 80%;">
                <mat-label>Roll</mat-label>
                <input matInput placeholder="Roll" value="">
              </mat-form-field>
        </div>
    </div>
</div>

<br>
<br>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Debug
            </mat-panel-title>
        </mat-expansion-panel-header>
        Context:
        <pre>{{tacticalSession | json}}</pre>
        Round:
        <pre>{{tacticalRound | json}}</pre>
        Actions:
        <pre>{{actions | json}}</pre>
        Characters:
        <pre>{{characters | json}}</pre>
    </mat-expansion-panel>
</mat-accordion>