<h1 mat-dialog-title>Skill selection</h1>

<div>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Assignee</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="myControl.value?.description">
            {{myControl.value.description}}
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button cdkFocusInitial (click)="addSkill()">Add</button>
</div>