<h1 mat-dialog-title>Skill selection</h1>

<div>
    <form [formGroup]="addSkillForm">
        <div fxLayout="row">
            <div fxFlex="30" fxLayout="column">
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Skill</mat-label>
                        <input type="text" matInput formControlName="skillId" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div *ngIf="addSkillForm.value.skillId.customizableOptions > 0 && this.customizationOptions.length == 0">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Customization 1</mat-label>
                        <input type="text" matInput formControlName="customization01">
                    </mat-form-field>
                </div>
                <div *ngIf="addSkillForm.value.skillId.customizableOptions > 0 && this.customizationOptions.length > 0">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Customization 1</mat-label>
                        <mat-select formControlName="customization01">
                            <mat-option *ngFor="let option of customizationOptions" [value]="option.key">{{option.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="addSkillForm.value.skillId.customizableOptions > 1 && this.customizationOptions.length == 0">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Customization 2</mat-label>
                        <input type="text" matInput formControlName="customization02">
                    </mat-form-field>
                </div>
                <div *ngIf="addSkillForm.value.skillId.customizableOptions > 1 && this.customizationOptions.length > 0">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Customization 2</mat-label>
                        <mat-select formControlName="customization02">
                            <mat-option *ngFor="let option of customizationOptions" [value]="option.key">{{option.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="70">
                <div *ngIf="addSkillForm.value.skillId.description">
                    {{addSkillForm.value.skillId.description}}
                </div>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button cdkFocusInitial (click)="addSkill()">Add</button>
</div>