<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div>Skills
          <span>({{this.characterInfo?.developmentPoints?.usedPoints}}/{{this.characterInfo?.developmentPoints?.totalPoints}})</span>
        </div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table mat class="mat-table cdk-table mat-elevation-z8 ng-tns-c149-66">
      <thead>
      <tr class="mat-header-row cdk-header-row ng-star-inserted">
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Skill</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Group</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Category</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Attributes</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Development</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Rank (ad)</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Rank (co)</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Rank (de)</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Skill bonus</th>
        <th class="mat-header-cell cdk-header-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">Total</th>
      </tr>
    </thead>
      <tr *ngFor="let skill of characterInfo?.skills" class="mat-row cdk-row ng-star-inserted">
        <td style="text-align: left;" class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.skillId}}</div>
        </td>
        <td style="text-align: left;" class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.group}}</div>
        </td>
        <td style="text-align: left;" class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.categoryId}}</div>
        </td>
        <td style="text-align: left;" class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.attributes}}</div>
        </td>
        <td style="text-align: left;" class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.developmentCost}}</div>
        </td>
        <td class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.ranks.adolescence}}</div>
        </td>
        <td class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.ranks.consolidated}}</div>
        </td>
        <td class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.ranks.development}}</div>
        </td>
        <td class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.bonus | json}}</div>
        </td>
        <td class="mat-cell cdk-cell cdk-column-categoryId mat-column-categoryId ng-star-inserted">
          <div>{{skill.totalBonus}}</div>
        </td>
        <td>
          <button mat-icon-button color="accent" (click)="updateDevelopmentRank(1, skill)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="updateDevelopmentRank(-1, skill)">
            <mat-icon>remove</mat-icon>
          </button>
       </td>
      </tr>      
    </table>
    
    <app-skill-select></app-skill-select>

    <pre></pre>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Debug skill list</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{this.characterInfo?.skills| json}}</pre>
      </mat-expansion-panel>
      </mat-accordion>

  </mat-expansion-panel>
</mat-accordion>