<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>General data</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <table>
            <tr>
                <td>Level</td>
                <td>{{characterInfo?.level}}</td>
            </tr>
            <tr>
                <td>XP</td>
                <td>{{characterInfo?.xp}}</td>
            </tr>
            <tr>
                <td>Race</td>
                <td>{{characterInfo?.raceId}}</td>
            </tr>
            <tr>
                <td>Profession</td>
                <td>{{characterInfo?.professionId}}</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>{{characterInfo?.level}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{characterInfo?.age}}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{characterInfo?.height}}</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{characterInfo?.weight}}</td>
            </tr>
            <tr>
                <td>Base movement rate</td>
                <td>{{characterInfo?.baseMovementRate}}m</td>
            </tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>