<div fxLayout="row" fxLayoutGap="15px" *ngIf="actionForm" [formGroup]="actionForm">

    <div fxFlex="25">
        <div fxLayout="column" fxLayoutGap="15px">
            <div>
                <h4>Action percent</h4>
                <span>{{actionForm.value.actionPercent}}&nbsp;</span>
                <mat-slider thumbLabel formControlName="actionPercent" min="0" max="{{maxActionPercent}}" step="5"></mat-slider>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Parry</mat-label>
                <input matInput formControlName="parry">
            </mat-form-field>
            <ng-container *ngIf="actionForm.value.targets" formGroupName="targets">
                <div *ngIf="enabledAttackTarget('main-hand')">
                    <mat-form-field appearance="outline">
                        <mat-label>Main hand target</mat-label>
                        <mat-select formControlName="main-hand">
                            <mat-option *ngFor="let character of getTargets()" [value]="character.id">{{character.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="enabledAttackTarget('off-hand')">
                    <mat-form-field appearance="outline">
                        <mat-label>Off-hand target</mat-label>
                        <mat-select formControlName="off-hand">
                            <mat-option *ngFor="let character of getTargets()" [value]="character.id">{{character.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </div>

    <div fxFlex="25" fxLayoutGap="10">
        <div fxLayout="column" fxLayoutGap="10">
            <div>
                <h4>Attack type</h4>
                <mat-button-toggle-group formControlName="meleeAttackType" (change)="onMeleeAttackTypeChange($event)">
                    <mat-button-toggle *ngFor="let option of meleeAttackTypes" [value]="option.key">
                        <ng-container [ngSwitch]="option.key">
                            <span *ngSwitchCase="'full'">Full</span>
                            <span *ngSwitchCase="'press-and-melee'">Press</span>
                            <span *ngSwitchCase="'react-and-melee'">React</span>
                            <span *ngSwitchDefault>{{option.name}}</span>
                        </ng-container>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <span style="font-size: 12pt;">{{this.meleeAttackTypeDescriptions.get(actionForm.value.meleeAttackType)}}</span>
            </div>
        </div>
    </div>

    <div fxFlex="25">
        <div fxLayout="column" fxLayoutGap="10">
            <div>
                <h4>Attack mode</h4>
                <mat-button-toggle-group formControlName="meleeAttackMode" (change)="onMeleeAttackModeChange($event)">
                    <mat-button-toggle *ngFor="let option of meleeAttackModes" [value]="option.key" [disabled]="isAttackModeDisabled(option.key)">
                        <ng-container [ngSwitch]="option.key">
                            <span *ngSwitchCase="'main-hand-weapon'">Main</span>
                            <span *ngSwitchCase="'off-hand-weapon'">Off-hand</span>
                            <span *ngSwitchCase="'two-weapons'">2W</span>
                            <span *ngSwitchCase="'special-attack'">Special</span>
                            <span *ngSwitchCase="'parry'">Parry</span>
                            <span *ngSwitchDefault>{{option.key}}</span>
                        </ng-container>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <mat-form-field appearance="outline" *ngIf="actionForm.controls['specialAttack']">
                    <mat-label>Special attack</mat-label>
                    <mat-select formControlName="specialAttack">
                        <mat-option *ngFor="let sa of character.specialAttacks" [value]="sa.name">{{sa.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

</div>

<mat-dialog-actions *ngIf="actionForm">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-stroked-button [mat-dialog-close]="true" (click)="declareMeleeAttack()" [disabled]="actionForm.invalid">Declare</button>
</mat-dialog-actions>

<br>
