<h2>Skills</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Attributes</th>
        <th>Bonus progression</th>
        <th>Category progression</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let skill of skills">
        <td><div>{{skill.id}}</div></td>
        <td><div>{{skill.name}}</div></td>
        <td><div>{{skill.attributeBonus}}</div></td>
        <td><div>{{skill.rankBonusProgression}}</div></td>
        <td><div>{{skill.categoryBonusProgression}}</div></td>
        <td><div>{{skill.description}}</div></td>
    </tr>

</table>