<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="skillCategoryDataSource!" class="mat-elevation-z8">
  <ng-container matColumnDef="categoryId">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"><a routerLink="/skill-categories/detail/{{element.categoryId}}">{{element.categoryId}}</a></td>
  </ng-container>
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef>Group</th>
    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
  </ng-container>
  <ng-container matColumnDef="progressionType">
    <th mat-header-cell *matHeaderCellDef>Progression</th>
    <td mat-cell *matCellDef="let element"> {{element.progressionType}} </td>
  </ng-container>
  <ng-container matColumnDef="adolescenceRanks">
    <th mat-header-cell *matHeaderCellDef matTooltip="Adolescence ranks">R/Ado</th>
    <td mat-cell *matCellDef="let element">{{element.ranks.adolescence > 0 ? element.ranks.adolescence : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="trainingPackageRanks">
    <th mat-header-cell *matHeaderCellDef matTooltip="Training package ranks">R/TPac</th>
    <td mat-cell *matCellDef="let element">{{element.ranks['training-package'] > 0 ? element.ranks['training-package'] : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="consolidatedRanks">
    <th mat-header-cell *matHeaderCellDef matTooltip="Consolidated ranks">R/Con</th>
    <td mat-cell *matCellDef="let element">{{element.ranks.consolidated && element.ranks.consolidated > 0 ? element.ranks.consolidated : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="developmentRanks">
    <th mat-header-cell *matHeaderCellDef matTooltip="Development ranks">R/Dev</th>
    <td mat-cell *matCellDef="let element">{{element.ranks.development > 0 ? element.ranks.development : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="bonusAttribute">
    <th mat-header-cell *matHeaderCellDef matTooltip="Attribute bonus">B/Attr</th>
    <td mat-cell *matCellDef="let element">
      <span matTooltip="{{element.attributes}}">
        {{element.bonus.attribute && element.bonus.attribute != 0 ? element.bonus.attribute : ""}}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="bonusProfession">
    <th mat-header-cell *matHeaderCellDef matTooltip="Profession bonus">B/Prof</th>
    <td mat-cell *matCellDef="let element">{{element.bonus.profession && element.bonus.profession != 0 ? element.bonus.profession : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="bonusRanks">
    <th mat-header-cell *matHeaderCellDef matTooltip="Rank bonus">B/Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.bonus.rank && element.bonus.rank != 0 ? element.bonus.rank : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="developmentCost">
    <th mat-header-cell *matHeaderCellDef matTooltip="Development cost">Cost</th>
    <td mat-cell *matCellDef="let element">{{element.developmentCost}}</td>
  </ng-container>
  <ng-container matColumnDef="totalRanks">
    <th mat-header-cell *matHeaderCellDef>Total Ranks</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.progressionType != 'none'">{{element.totalRanks}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="totalBonus">
    <th mat-header-cell *matHeaderCellDef>Total Bonus</th>
    <td mat-cell *matCellDef="let element"><b>{{element.totalBonus}}</b></td>
  </ng-container>
  <ng-container matColumnDef="options" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.progressionType != 'none'">
        <button mat-icon-button color="primary" (click)="updateRank(element.categoryId, 1)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="updateRank(element.categoryId, -1)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 15, 20, 50, 100]" aria-label="Select page of categories"></mat-paginator>