table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-category-id {
  width: 120px;
}

.mat-column-category-id a:link,
a:visited,
a:active {
  text-decoration: none;
}

.mat-column-group {
  width: 10%;
}

.mat-column-progression-type {
  width: 5%;
}

.mat-column-adolescence-ranks,
.mat-column-training-package-ranks,
.mat-column-consolidated-ranks,
.mat-column-development-ranks,
.mat-column-bonus-attribute,
.mat-column-bonus-profession,
.mat-column-bonus-ranks {
  width: 5%;
  color: #999;
  text-align: left;
}

.mat-column-development-cost {
  width: 5%;
  color: #999;
  text-align: left;
}

.mat-column-total-ranks,
.mat-column-total-bonus {
  width: 5%;
  text-align: left;
}

.mat-column-options {
  width: 15%;
}

.mat-header-cell {
  text-align: left;
  color: #fff;
}

.grey {
  color: #999;
}