<mat-toolbar>
    <div>
        <mat-icon>build</mat-icon> Skill
    </div>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/skills">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="skill">

    <div fxLayout="row" fxLayout.lt-md="column">

        <div fxFlex="30" fxLayout="column">
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder" value="{{skill.name}}" readonly="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Category</mat-label>
                    <input matInput placeholder="Placeholder" value="{{skillCategory?.name}}" readonly="true">
                    <mat-icon matSuffix routerLink="/skill-categories/detail/{{skillCategory?.id}}">launch</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Type</mat-label>
                    <input matInput placeholder="Placeholder" value="{{skill.type}}" readonly="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Progression type</mat-label>
                    <input matInput placeholder="Placeholder" value="{{skill.progressionType}}" readonly="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Customizable options</mat-label>
                    <input matInput value="{{skill.customizableOptions}}" readonly="true">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Customization restriction</mat-label>
                    <input matInput value="{{skill.customizationRestriction}}" readonly="true">
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="50">
            <span class="text-detail">{{skill?.description}}</span>
        </div>
    </div>

    <div *ngIf="skill != null && skill.modifiers != null && skill.modifiers.length > 0">
        <h4>Common modifiers</h4>
        <mat-list role="list">
            <mat-list-item *ngFor="let modifier of skill.modifiers">
                {{modifier.key}}:&nbsp;
                <span *ngIf="modifier.modifier > 0">+</span>
                <span *ngIf="modifier.modifier != 0">{{modifier.modifier}}</span>
            </mat-list-item>
        </mat-list>
    </div>

</div>

<!--
<pre>{{skill | json}}</pre>
-->