<mat-toolbar>
    <div><mat-icon>scatter_plot</mat-icon> {{trainingPackage?.name}}</div>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/training-packages"><mat-icon>arrow_upward</mat-icon></button>
</mat-toolbar>

<div class="outerContainer" *ngIf="trainingPackage">

    <mat-tab-group>
        <mat-tab label="Info" class="full-width">
            <app-training-package-basic-info [trainingPackage]="trainingPackage"></app-training-package-basic-info>
        </mat-tab>
        <mat-tab label="Fixed skills">
            <app-training-package-fixed-skills [trainingPackage]="trainingPackage"></app-training-package-fixed-skills>
        </mat-tab>
        <mat-tab label="Selectable skills">
            <app-training-package-selectable-skills [trainingPackage]="trainingPackage"></app-training-package-selectable-skills>
        </mat-tab>
        <mat-tab label="Items">
        </mat-tab>
        <mat-tab label="Cost">
            <app-training-package-costs [trainingPackage]="trainingPackage"></app-training-package-costs>
        </mat-tab>
        <mat-tab label="Debug">
            <pre>{{trainingPackage | json}}</pre>
        </mat-tab>
    </mat-tab-group>

</div>