<h3>Character development</h3>

<app-character-attributes [characterInfo]="this.characterInfo"></app-character-attributes>

<app-character-skill-category-list [characterInfo]="this.characterInfo"></app-character-skill-category-list>

<app-character-skill-list [characterInfo]="this.characterInfo"></app-character-skill-list>

<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>Debug</div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

    <pre>{{this.characterInfo | json }}</pre>

    </mat-expansion-panel>
</mat-accordion>

