<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="15px" *ngIf="action">

  <div fxFlex="25" fxLayout="column">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Action state</mat-label>
        <input matInput [(ngModel)]="action.state" disabled="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Action percent</mat-label>
        <input matInput [(ngModel)]="action.actionPercent" disabled="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Pace</mat-label>
        <input matInput [(ngModel)]="action.pace" disabled="true">
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="25" fxLayout="column" [formGroup]="actionExecutionForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.key">
            {{difficulty.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Combat situation</mat-label>
        <mat-select formControlName="combatSituation">
          <mat-option *ngFor="let combatSituation of combatSituations" [value]="combatSituation.key">
            {{combatSituation.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="actionExecutionForm.controls['customBonus']">
      <mat-form-field appearance="outline">
        <mat-label>Custom bonus</mat-label>
        <input matInput formControlName="customBonus">
      </mat-form-field>
    </div>
    <div *ngIf="actionExecutionForm.controls['roll']">
      <mat-form-field appearance="outline">
        <mat-label>Roll</mat-label>
        <input matInput formControlName="roll">
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="25" fxLayout="column">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Distance (m)</mat-label>
        <input matInput [(ngModel)]="action.distance" disabled="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Distance (scaled)</mat-label>
        <input matInput [(ngModel)]="action.distanceScaled" disabled="true">
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="25" fxLayout="column">
    <div *ngIf="action.maneuverResult">
      <mat-form-field appearance="outline">
        <mat-label>Maneuver result</mat-label>
        <input matInput [(ngModel)]="action.maneuverResult.result" disabled="true">
      </mat-form-field>
    </div>
    <div *ngIf="action.maneuverResult">
      <mat-form-field appearance="outline">
        <mat-label>HP</mat-label>
        <input matInput [(ngModel)]="action.maneuverResult.hp" disabled="true">
      </mat-form-field>
    </div>
    <div *ngIf="action.maneuverResult && action.maneuverResult.text">
      {{action.maneuverResult.text}}
    </div>
    <div *ngIf="action.maneuverResult && action.maneuverResult.debuffs">
      Debuffs:
      {{action.maneuverResult.debuffs | json}}
    </div>
    <div *ngIf="action.maneuverResult && action.maneuverResult.injuries">
      Injuries:
      {{action.maneuverResult.injuries | json}}
    </div>
  </div>

</div>

<mat-dialog-actions *ngIf="actionExecutionForm">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <button mat-stroked-button (click)="executeMovement()" [disabled]="actionExecutionForm.invalid || actionExecutionForm.disabled">Execute movement</button>
</mat-dialog-actions>

<br>