<mat-toolbar>
    <span>User preferences</span>
    <div class="div-spacer"></div>
    <button mat-button matTooltip="Save settings" (click)="saveSettings()">
        <mat-icon>save_alt</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="user">

    <div [formGroup]="userForm" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Default version</mat-label>
            <mat-select formControlName="defaultVersion">
                <mat-option *ngFor="let version of versions" [value]="version.key">{{version.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Default universe</mat-label>
            <mat-select formControlName="defaultUniverseId">
                <mat-option *ngFor="let universe of universes" [value]="universe.id">{{universe.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Unit system</mat-label>
            <mat-select formControlName="defaultUnitSystem">
                <mat-option *ngFor="let unitSystem of unitSystems" [value]="unitSystem.key">{{unitSystem.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Default board scale</mat-label>
            <input matInput formControlName="defaultBoardScale">
        </mat-form-field>
    </div>

    <pre>{{user | json}}</pre>

    <pre>{{userClaims | json}}</pre>

</div>