<h2 mat-dialog-title>Action selection</h2>
<mat-dialog-content>

    <mat-tab-group mat-align-tabs="start">

        <mat-tab label="Movement">
            <mat-form-field appearance="fill">
                <mat-label>Pace</mat-label>
                <mat-select>
                    <mat-option *ngFor="let option of movementPaces" [value]="option.key">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-tab>

        <mat-tab label="Melee">
            <mat-form-field appearance="fill">
                <mat-label>Attack type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let option of meleeAttackTypes" [value]="option.key">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Target</mat-label>
                <mat-select>
                    <mat-option>todo</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-tab>

        <mat-tab label="Ranged">Ranged</mat-tab>

        <mat-tab label="Static M">Static M</mat-tab>

        <mat-tab label="Moving M">Moving M</mat-tab>

        <mat-tab label="Spell">Spell</mat-tab>
    </mat-tab-group>

    Action Percent:
    <mat-slider thumbLabel min="{{minActionPercent}}" max="{{maxActionPercent}}" aria-label="units"></mat-slider>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Add</button>
</mat-dialog-actions>
