<div>
    <div fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Talent</mat-label>
            <input type="text" matInput [formControl]="talentControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="talentControl.value">
            <mat-label>Category</mat-label>
            <input matInput type="text" [(ngModel)]="talentControl.value.type" [disabled]="true">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="talentControl.value">
            <mat-label>Cost type</mat-label>
            <input matInput type="text" [(ngModel)]="talentControl.value.costType" [disabled]="true">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="talentControl.value">
            <mat-label>Cost</mat-label>
            <input matInput type="text" [(ngModel)]="talentControl.value.cost" [disabled]="true">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="talentControl.value">
            <mat-label>Description</mat-label>
            <input matInput type="text" [(ngModel)]="talentControl.value.description" [disabled]="true">
        </mat-form-field>

        <button mat-button (click)="addCustomization()">Add</button>
    </div>
</div>
