<h2 mat-dialog-title>Action execution</h2>
<mat-dialog-content>

    <mat-form-field class="initiative-form-field" appearance="outline" style="width: 80%;">
        <mat-label>Roll</mat-label>
        <input matInput placeholder="Roll" value="" [(ngModel)]="actionExecution!.roll.result">
      </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="executeAction()">Execute</button>
</mat-dialog-actions>

<pre>{{actionExecution | json}}</pre>
