<mat-toolbar>
    <div>
        <mat-icon>build</mat-icon> Flaw
    </div>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/flaws">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="flaw">

    <div fxLayout="row" fxLayout.lt-md="column">

        <div fxFlex="30" fxLayout="column">
            <div>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder" value="{{flaw.name}}" readonly="true">
                </mat-form-field>
            </div>
    </div>

    <div>
        <span>{{flaw.description}}</span>
    </div>

</div>


<pre>{{flaw | json}}</pre>
