<mat-toolbar>
    <div>
        <mat-icon>scatter_plot</mat-icon> Flaw
    </div>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/flaws">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="flaw">

    <div fxLayout="row" fxLayout.lt-md="column">

        <div fxFlex="20" fxLayout="column">
            <mat-form-field appearance="outline" class="custom-form-field">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder" value="{{flaw.name}}" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
                <mat-label>Category</mat-label>
                <input matInput placeholder="Placeholder" value="{{flaw.category}}" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
                <mat-label>Cost type</mat-label>
                <input matInput placeholder="Placeholder" value="{{flaw.costType}}" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
                <mat-label>Cost</mat-label>
                <input matInput placeholder="Placeholder" value="{{flaw.cost}}" disabled>
            </mat-form-field>
        </div>
        <div fxFlex="40" class="description">{{flaw.description}}</div>
    </div>
</div>