table {
    width: 100%;
}

.tr-data {
    cursor: pointer;
}
 
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-name {
    width: 40%;
}

.mat-column-version {
    width: 20%;
}

.mat-column-category {
    width: 20%;
}

.mat-column-cost-type {
    width: 10%;
}

.mat-column-cost {
    width: 10%;
}