
<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="showSideBar" [fixedInViewport]="true" mode="side" position="start">

    <mat-card>
      <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">bubble_chart</mat-icon> Rolemaster Engine</mat-card-title>
      <mat-card-content>
        <mat-nav-list>
          <a mat-list-item routerLink="/strategic-sessions"><mat-icon>list</mat-icon> Strategic Sessions</a>
          <a mat-list-item routerLink="/tactical-sessions"><mat-icon>list</mat-icon> Tactical Sessions</a>
          <a mat-list-item routerLink="/characters"><mat-icon>person</mat-icon> Characters</a>
          <a mat-list-item routerLink="/characters/creation"><mat-icon>create</mat-icon> Character creation</a>
          <a mat-list-item routerLink="/tactical"><mat-icon>scatter_plot</mat-icon> Tactical view</a>
          <a mat-list-item><mat-icon>scatter_plot</mat-icon> Movement</a>
          <a mat-list-item><mat-icon>scatter_plot</mat-icon> Combat</a>
          <a mat-list-item><mat-icon>scatter_plot</mat-icon> Static maneuvers</a>
          <a mat-list-item><mat-icon>scatter_plot</mat-icon> Dynamic maneuvers</a>
          <a mat-list-item routerLink="/races"><mat-icon>scatter_plot</mat-icon> Races</a>
          <a mat-list-item routerLink="/professions"><mat-icon>scatter_plot</mat-icon> Professions</a>
          <a mat-list-item routerLink="/skill-categories"><mat-icon>scatter_plot</mat-icon> Skill categories</a>
          <a mat-list-item routerLink="/skills"><mat-icon>scatter_plot</mat-icon> Skills</a>
          <a mat-list-item routerLink="/npc"><mat-icon>scatter_plot</mat-icon> NPC</a>
          <a mat-list-item><mat-icon>shopping_cart</mat-icon> Shop</a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="div-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


