<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/sessions">Sessions</a>
  <a routerLink="/characters/creation">Character creation</a>
  <a routerLink="/characters">Characters</a>
  <a routerLink="/characters">Movement</a>
  <a routerLink="/characters">Combat</a>
  <a routerLink="/characters">Actions - Static</a>
  <a routerLink="/characters">Actions - Dynamic</a>
</nav>
<router-outlet></router-outlet>
