<mat-stepper linear #stepper>

    <mat-step [stepControl]="characterBasicData" [editable]=false>

        <form [formGroup]="characterCreationFormGroup">
            <ng-template matStepLabel>Character basic data</ng-template>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input name="name" matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Race</mat-label>
                <mat-select name="raceId" formControlName="raceId">
                    <mat-option value="common-men">Common men</mat-option>
                    <mat-option value="high-men" disabled>High men</mat-option>
                    <mat-option value="ork" disabled>Ork</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Profession</mat-label>
                <mat-select name="professionId" formControlName="professionId">
                    <mat-option value="fighter">Fighter</mat-option>
                    <mat-option value="thief">Thief</mat-option>
                    <mat-option value="option3" disabled>Mage</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Realm</mat-label>
                <mat-select formControlName="realmId">
                    <mat-option value="channeling">Channeling</mat-option>
                    <mat-option value="essence">Essence</mat-option>
                    <mat-option value="mentalism">Mentalism</mat-option>
                </mat-select>
            </mat-form-field>

            <div formGroupName="baseAttributes">
                <mat-list>
                    <mat-list-item>
                        <div class="attribute-name">Agility</div>
                        <mat-slider formControlName="ag" [max]="100" [min]="1" thumbLabel=true>
                        </mat-slider>
                        <div>{{this.characterCreationFormGroupValue.baseAttributes.ag}}</div>
                    </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Constitution</div>
                    <mat-slider formControlName="co" [max]="100" [min]="1"thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.co}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Memory</div>
                    <mat-slider formControlName="me" [max]="100" [min]="1"
                        thumbLabel=true></mat-slider>
                        <div>{{this.characterCreationFormGroupValue.baseAttributes.me}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Reasoning</div>
                    <mat-slider formControlName="re" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.re}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Self discipline</div>
                    <mat-slider formControlName="sd" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.sd}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Empathy</div>
                    <mat-slider formControlName="em" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.em}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Intuition</div>
                    <mat-slider formControlName="in" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.in}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Presence</div>
                    <mat-slider formControlName="pr" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.pr}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Quickness</div>
                    <mat-slider formControlName="qu" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.qu}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="attribute-name">Strength</div>
                    <mat-slider formControlName="st" [max]="100" [min]="1" thumbLabel=true></mat-slider>
                    <div>{{this.characterCreationFormGroupValue.baseAttributes.st}}</div>
                </mat-list-item>
                </mat-list>
            </div>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Available attributes points</mat-label>
                <input name="attributesRoll" matInput type="text" formControlName="attributesRoll">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Remaining attributes points</mat-label>
                <input name="attributesRemaining" matInput type="text" formControlName="attributesRemaining" readonly="true">
            </mat-form-field>

            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [editable]=false>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Character development</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>

<button mat-stroked-button color="primary" (click)="createCharacter()">
    <mat-icon>add</mat-icon>
</button>

<pre>{{this.characterCreationFormGroupValue | json}}</pre>
