<div>
    <div>
        <label for="new-character-name">Name: </label>
        <input id="new-character-name" #name />

        <label for="new-character-race">Race: </label>
        <select id="new-character-race">
            <option>todo</option>
        </select>
        
        <label for="new-character-profession">Profession: </label>
        <select id="new-character-profession">
            <option>todo</option>
        </select>
    </div>
    <button type="button" class="add-button">Prepare</button>
</div>
