<div style="margin-top: 20px;">
    <div class="form-style-2">
        <h2>New character</h2>
        <input id="name" #name />
        <select id="new-character-race">
            <option>Common men</option>
            <option>High men</option>
        </select>
        <select id="new-character-profession">
            <option>Fighter</option>
            <option>Thieve</option>
        </select>
    </div>
    <div>
        <h3>Attributes</h3>
        <div>
            <div><span>Co</span>
            <div><span><input id="co"/></span>
        </div>
        <div>
            <div><span>St</span>
            <div><span><input id="co"/></span>
        </div>
        </div>
    </div>
    <input type="button" value="Prepare" />
</div>
