<mat-card>
<div fxLayout="column" fxLayoutGap="0" *ngIf="race">
    <div fxLayout="20">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="race.name" [readonly]="true">
        </mat-form-field>
    </div>
    <div fxLayout="20">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Keywords</mat-label>
            <input matInput [(ngModel)]="race.keywords" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Body development</mat-label>
            <input matInput [(ngModel)]="race.bodyDevelopmentProgression" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Essence progression</mat-label>
            <input matInput [(ngModel)]="race.powerPointsProgression.essence" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Channeling progression</mat-label>
            <input matInput [(ngModel)]="race.powerPointsProgression.channeling" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mentalism progression</mat-label>
            <input matInput [(ngModel)]="race.powerPointsProgression.mentalism" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Exhaustion bonus</mat-label>
            <input matInput [(ngModel)]="race.exhaustionPointsBonus" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Background options</mat-label>
            <input matInput [(ngModel)]="race.backgroundOptions" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Soul departure</mat-label>
            <input matInput [(ngModel)]="race.soulDeparture" [readonly]="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Recovery multiplier</mat-label>
            <input matInput [(ngModel)]="race.recoveryMultiplier" [readonly]="true">
        </mat-form-field>
    </div>
</div>
</mat-card>