<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">

    <div fxFlex="20">

        <div fxLayout="column">
            <div><b>Type</b>: {{action.type}}</div>
            <div><b>State</b>: {{action.state}}</div>
            <div><b>Priority</b>: {{action.priority}}</div>
            <div><b>Percent</b>: {{action.actionPercent}}</div>
            <div><b>Melee attack type</b>: {{action.meleeAttackType}}</div>
        </div>

    </div>

    <div fxFlex="20" *ngIf="actionExecutionForm">

        <div fxLayout="column" [formGroup]="actionExecutionForm">
            <div formGroupName="rolls" fxLayout="row" fxLayoutGap="5px">
                <div formGroupName='main-hand' [fxFlex]="actionExecutionForm.value.rolls['off-hand'] ? 50 : 100">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Main hand attack roll</mat-label>
                        <input matInput formControlName="result" placeholder="Roll" value="">
                    </mat-form-field>
                </div>
                <div formGroupName="off-hand" fxFlex="50" *ngIf="actionExecutionForm.value.rolls['off-hand']">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Off-hand attack roll</mat-label>
                        <input matInput formControlName="result" placeholder="Roll" value="">
                    </mat-form-field>
                </div>
            </div>
            <div formGroupName="targets" fxLayout="row" fxLayoutGap="5px">
                <div [fxFlex]="displayOffHandTarget() ? 50 : 100">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Main hand target</mat-label>
                        <mat-select formControlName="main-hand">
                            <mat-option *ngFor="let option of availableTargets" [value]="option.key">{{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50" *ngIf="displayOffHandTarget()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Off-hand target</mat-label>
                        <mat-select formControlName="off-hand">
                            <mat-option *ngFor="let option of availableTargets" [value]="option.key">{{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div formGroupName="facingMap" fxLayout="row" fxLayoutGap="5px">
                <div [fxFlex]="actionExecutionForm.value.facingMap['off-hand'] ? 50 : 100">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Main hand facing</mat-label>
                        <mat-select formControlName="main-hand">
                            <mat-option *ngFor="let option of meleeAttackFacingValues" [value]="option.key">{{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50" *ngIf="actionExecutionForm.value.facingMap['off-hand']">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Off-hand facing</mat-label>
                        <mat-select formControlName="off-hand">
                            <mat-option *ngFor="let option of meleeAttackFacingValues" [value]="option.key">{{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <button mat-button color="primary" (click)="resolveMeleeAttackAction()"
                [disabled]="actionExecutionForm!.invalid || this.action.state !== 'pending'">Resolve attack</button>

            <div fxLayout="column" *ngIf="breakageExecutionForm" [formGroup]="breakageExecutionForm">
                <div formGroupName="rolls">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Main breakage</mat-label>
                        <input matInput formControlName="main-hand" placeholder="Breakage roll">
                    </mat-form-field>
                </div>
                <button mat-button color="primary" (click)="resolveBreakageAction()"
                    [disabled]="breakageExecutionForm!.invalid || this.action.state !== 'pending-breakage-resolution'">Resolve breakage</button>

                <!--pre>{{this.breakageExecutionForm.value | json}}</pre -->
            </div>

            <div fxLayout="column" *ngIf="criticalExecutionForm" [formGroup]="criticalExecutionForm">
                <div formGroupName="rolls">
                    <div *ngFor="let rollKey of getCriticalRollKeys()">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>{{rollKey}}</mat-label>
                            <input matInput formControlName="{{rollKey}}" placeholder="Critical roll">
                        </mat-form-field>
                    </div>
                </div>
                <button mat-button color="primary" (click)="resolveCriticalAction()"
                    [disabled]="criticalExecutionForm!.invalid || this.action.state !== 'pending-critical-resolution'">Resolve critical</button>
            </div>


        </div>


    </div>
    <div fxFlex="30">
        <app-attack-result [action]="action"></app-attack-result>
    </div>

    <div fxFlex="30">
        <div *ngIf="action.criticalResults['main-hand']">
            <h2>Main hand critical</h2>
            <app-critical-result-view *ngFor="let critical of action.criticalResults['main-hand']" [critical]="critical"></app-critical-result-view>
        </div>
        <div *ngIf="action.criticalResults['off-hand']" style="margin-top: 20pt;">
            <h2>Off-hand critical</h2>
            <app-critical-result-view *ngFor="let critical of action.criticalResults['off-hand']" [critical]="critical"></app-critical-result-view>
        </div>
    </div>
</div>