<mat-toolbar>
    <span>Profession</span>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/professions">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="profession">

    <div fxLayout="row" fxLayoutGap="15">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="profession.name" matInput>
            </mat-form-field>
            <mat-chip-list>
                <mat-chip *ngFor="let realm of profession.availableRealms">
                    {{realm}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="15" style="margin-top: 30px;">
        
        <div fxFlex="30">
            <app-profession-skill-category-bonus [profession]="profession"></app-profession-skill-category-bonus>
        </div>

        <div fxFlex="30">
            <app-profession-skill-cost [profession]="profession"></app-profession-skill-cost>
        </div>

        <div fxFlex="30">
            <app-profession-weapon-cost [profession]="profession"></app-profession-weapon-cost>
        </div>


    </div>

</div>

<!--
    <pre>{{profession | json}}</pre>
-->