<mat-toolbar>
    <span>Profession</span>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/professions">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="profession">

    <mat-tab-group>
        <mat-tab label="Info" class="full-width">
            <div>
                <mat-form-field appearance="outline" class="margin-top">
                    <mat-label>Name</mat-label>
                    <input [(ngModel)]="profession.name" matInput disabled="true">
                </mat-form-field>
                <h3>Available realms</h3>
                <mat-chip-list aria-label="Available realms">
                    <mat-chip *ngFor="let realm of profession.availableRealms">{{realm}}</mat-chip>
                </mat-chip-list>
                <h3 class="margin-top">Costs</h3>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15">
                    <div fxLayout.gt-sm="50">
                        <app-profession-skill-cost [profession]="profession"></app-profession-skill-cost>
                    </div>
                    <div fxLayout.gt-sm="50">
                        <app-profession-weapon-cost [profession]="profession"></app-profession-weapon-cost>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Skills">
            <app-profession-skill-category-bonus [profession]="profession"></app-profession-skill-category-bonus>
        </mat-tab>
        <mat-tab label="Debug">
            <pre>{{profession | json}}</pre>
        </mat-tab>
    </mat-tab-group>

</div>