<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>Skills</div>
        </mat-panel-title>
        <mat-panel-description>
          <span>({{this.characterInfo?.developmentPoints?.remainingPoints}}/{{this.characterInfo?.developmentPoints?.totalPoints}})</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table>
    <tr>
        <th>Skill</th>
        <th>Adolescence ranks</th>
        <th>Upgraded ranks</th>
        <th>Attribute bonus</th>
        <th>Skill bonus</th>
        <th>Total</th>
    </tr>
    <tr *ngFor="let skill of characterInfo?.skills">
        <td style="text-align: left;"><div>{{skill.skillId}}</div></td>
        <td><div>{{skill.adolescenceRanks}}</div></td>
        <td><div>{{skill.upgradedRanks}}</div></td>
        <td><div>{{skill.attributeBonus}}</div></td>
        <td><div>{{skill.defaultSkillBonus}}</div></td>
        <td><div>{{skill.totalBonus}}</div></td>
    </tr>

    </table>

    </mat-expansion-panel>
</mat-accordion>
