<div>
    <container-element [ngSwitch]="character!.state">
        <span *ngSwitchCase="'massive-shock'">
            <mat-icon class="buff-icon" color="warn" matTooltip="Massive shock">error_outline</mat-icon>
        </span>
        <span *ngSwitchCase="'massive-shock-dying'">
            <mat-icon class="buff-icon" color="warn" matTooltip="Massive shock dying">error_outline</mat-icon>
        </span>
        <span *ngSwitchCase="'dead'">
            <mat-icon class="buff-icon" color="warn" matTooltip="Dying">error_outline</mat-icon>
        </span>
    </container-element>

    <ng-container *ngIf="!isDead()">
        <span *ngIf="character?.combatStatus!.totalBonus != 0">
            +{{character?.combatStatus!.totalBonus}}
            <mat-icon class="buff-icon" matTooltip="Bonus">arrow_circle_up</mat-icon>
        </span>
        <span *ngIf="character?.combatStatus!.buffs?.['has-initiative']">
            +{{character?.combatStatus?.buffs?.['has-initiative']}}
            <mat-icon class="buff-icon" matTooltip="Has initiative">flash_on</mat-icon>
        </span>
        <span *ngIf="character?.combatStatus!.totalPenalty < 0">
            {{character?.combatStatus!.totalPenalty}}
            <mat-icon class="buff-icon" matTooltip="Penalty">arrow_circle_down</mat-icon>
        </span>
        <span *ngIf="character?.combatStatus!.totalBleeding > 0">
            {{character?.combatStatus!.totalBleeding}}
            <mat-icon class="buff-icon" matTooltip="Bleeding">water_drop</mat-icon>
        </span>
        <span *ngIf="character?.combatStatus?.debuffs?.stunned">
            {{character?.combatStatus?.debuffs?.stunned}}
            <mat-icon class="buff-icon" matTooltip="Stunned">new_releases</mat-icon>
        </span>
        <span *ngIf="character?.combatStatus?.debuffs?.['cant-parry']">
            {{character?.combatStatus?.debuffs?.['cant-parry']}}
            <mat-icon class="buff-icon" matTooltip="Cant parry">highlight_off</mat-icon>
        </span>
        <span *ngIf="character?.combatStatus?.debuffs?.['must-parry']">
            {{character?.combatStatus?.debuffs?.['must-parry']}}
            <mat-icon class="buff-icon" matTooltip="Must parry">close</mat-icon>
        </span>
        <span *ngIf="isWeaponBroken()">
            <mat-icon class="buff-icon" matTooltip="Weapon broken">hdr_off</mat-icon>
        </span>
    </ng-container>
</div>