<div class="outerContainer">

    <h1>Under development</h1>

    This application provides a set of services for playing Rolemaster developed by https://ironcrown.com/.

    It consists of the following modules:

    <ul>
        <li><a routerLink="/characters">Character generation</a>: allows the creation of characters, their customization and leveling up.</li>
        <li><a routerLink="/strategic-sessions">Strategic sessions</a>: equivalent to what would be a campaign within which there can be different tactical
            sessions.</li>
        <li><a routerLink="/tactical-sessions">Tactical sessions</a>: execution of actions that generally involve combat or maneuver situations.</li>
    </ul>

    Pending features:

    <ul>
        <li>
            Security
            <ul>
                <li>OAUth2 + JWT integration</li>
                <li>Character/Session authorization model</li>
            </ul>
        </li>
        <li>Characters
            <ul>
                <li>Complete the list of training packages</li>
                <li>Power point development and spell lists</li>
                <li>Selecting customizable skills options</li>
                <li>List of talents and flaws</li>
                <li>Filtering universes</li>
                <li>Allow custom races</li>
                <li>Direct modifications with administrator's permission on characters</li>
            </ul>
        </li>
        <li>
            Tactical
            <ul>
                <li>Complete weapon tables</li>
                <li>Complete critical tables</li>
                <li>Dynamic maneuvers</li>
                <li>Static maneuvers</li>
                <li>Configuration for adjusting the scale of movement</li>
                <li>In-combat item management</li>
            </ul>
        </li>
        <li>
            Strategic
            <ul>
                <li>Rest healing</li>
                <li>Trade and equipment purchase</li>
                <li>Table encounters</li>
            </ul>
        </li>
        <li>
            Items
            <ul>
                <li>Item customization</li>
                <li>Combat item features like extra critics on hit</li>
            </ul>
        </li>
        <li>
            Spells
            <ul>
                <li>Practically everything</li>
            </ul>
        </li>
    </ul>

    <mat-divider></mat-divider>
    <small>
        Iron Crown Enterprises, I.C.E., ICE, Rolemaster, High Adventure Role Playing, HARP, Spacemaster, Cyberspace, and Bladelands and all products
        related thereto are all trademark and copyright 2002-2017 © properties of Iron Crown Enterprises Ltd, 37 Fulbourn Road, Cambridge, United Kingdom.
        All rights reserved.
    </small>
    <mat-divider></mat-divider>
    <small>
        This application and the backend are opensoure. The code can be found at:
        <ul>
            <li>Back: <a href="https://github.com/labcabrera/rolemaster-client">https://github.com/labcabrera/rolemaster-client</a></li>
            <li>Front: <a href="https://github.com/labcabrera/rolemaster-client">https://github.com/labcabrera/rolemaster-client</a></li>
        </ul>
    </small>



</div>