<h2 mat-dialog-title>{{character.name}}</h2>
<mat-dialog-content>

    <mat-form-field class="initiative-form-field" appearance="outline" style="width: 80%;">
        <mat-label>Roll</mat-label>
        <input matInput placeholder="Roll" value="" [(ngModel)]="roll">
      </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="update()" [disabled]="!this.roll">Update</button>
</mat-dialog-actions>
