<div *ngIf="trainingPackage">

    <div *ngIf="trainingPackage.selectableSkillCategoryList.length > 0">
        <h2>Skill categories</h2>
        <app-training-package-selectable-category [trainingPackage]="trainingPackage"></app-training-package-selectable-category>
    </div>

    <div *ngIf="trainingPackage.selectableSkillList.length > 0">
        <h2>Skills</h2>
        <app-training-package-selectable-skill [trainingPackage]="trainingPackage"></app-training-package-selectable-skill>
    </div>

    <div *ngIf="trainingPackage.selectableSkillCustomizations && trainingPackage.selectableSkillCustomizations.length > 0">
        <h2>Skill customizations</h2>
        <app-training-package-customizable-skill [trainingPackage]="trainingPackage"></app-training-package-customizable-skill>
    </div>

</div>