<h2 mat-dialog-title>Action selection</h2>
<mat-dialog-content>

    Action Percent:
    <mat-slider thumbLabel [(ngModel)]="action.actionPercent" min="{{minActionPercent}}" max="{{maxActionPercent}}" aria-label="units"></mat-slider>

    <mat-tab-group #matTabGroup mat-align-tabs="start" (selectedTabChange)="configureActionType($event)">

        <mat-tab label="Movement">
            <mat-form-field appearance="fill">
                <mat-label>Pace</mat-label>
                <mat-select [(ngModel)]="action.pace">
                    <mat-option *ngFor="let option of movementPaces" [value]="option.key">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-tab>

        <mat-tab label="Melee">

            <mat-form-field appearance="fill">
                <mat-label>Attack type</mat-label>
                <mat-select [(ngModel)]="action.meleeAttackType">
                    <mat-option *ngFor="let option of meleeAttackTypes" [value]="option.key">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Target</mat-label>
                <mat-select [(ngModel)]="action.target">
                    <mat-option *ngFor="let character of characters" [value]="character.characterId">{{character.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            Parry percent
            <mat-slider thumbLabel min="0" max="100" aria-label="units" [(ngModel)]="action.parry"></mat-slider>
        </mat-tab>

        <mat-tab label="Ranged">Ranged</mat-tab>

        <mat-tab label="Static M">Static M</mat-tab>

        <mat-tab label="Moving M">Moving M</mat-tab>

        <mat-tab label="Spell">Spell</mat-tab>
    </mat-tab-group>


</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="declareAction()">Add</button>
</mat-dialog-actions>

<pre>{{action | json}}</pre>
