<h2 mat-dialog-title>{{source.name}}</h2>
<mat-dialog-content>
    <div>
        <mat-tab-group #matTabGroup mat-align-tabs="start">
            <mat-tab label="Movement">
                <app-action-declaration-movement [roundId]="round.id" [priority]="priority" [maxActionPercent]="maxActionPercent" [character]="source"
                    [characters]="characters" [scale]="this.tacticalSession!.scale" (onActionCreation)="onActionCreation($event)">
                </app-action-declaration-movement>
            </mat-tab>
            <mat-tab label="Melee">
                <app-action-declaration-melee-attack [roundId]="round.id" [priority]="priority" [maxActionPercent]="maxActionPercent" [character]="source"
                    [characters]="characters" (onActionCreation)="onActionCreation($event)">
                </app-action-declaration-melee-attack>
            </mat-tab>
            <mat-tab label="Missile">
                <app-action-declaration-missile-attack [roundId]="round.id" [priority]="priority" [maxActionPercent]="maxActionPercent" [character]="source"
                    [characters]="characters" (onActionCreation)="onActionCreation($event)"></app-action-declaration-missile-attack>
            </mat-tab>
            <mat-tab label="Spell attack">
            </mat-tab>
            <mat-tab label="Static M">
            </mat-tab>
            <mat-tab label="Moving M">
            </mat-tab>
            <mat-tab label="Spell">
            </mat-tab>
            <mat-tab label="Change items">
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>