<div *ngIf="tacticalRound" fxLayout="row">

    <div *ngIf="!action">
        <button mat-button (click)="openActionSelectionDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <ng-container *ngIf="action">
        
        <div fxFlex="30" class="{{action.initiative ? 'active' : 'inactive'}}" [fxHide.lt-sm]="true">
            <button mat-button matTooltip="Initiative" (click)="openInitiativeDeclarationDialog(action)">
                <mat-icon>flash_on</mat-icon>
                <span *ngIf="action.initiative">{{action.initiative}}</span>
            </button>
        </div>
        
        <div fxFlex="50">
            <button mat-button (click)="openActionExecutionDialog(action)" class="{{action.state != 'resolved' ? 'unresolved' : 'active'}}">
                <mat-icon *ngIf="action.type == 'movement'">directions_run</mat-icon>
                <mat-icon *ngIf="action.type == 'melee-attack'">local_dining</mat-icon>
                <mat-icon *ngIf="action.type == 'missile-attack'">u_turn_right</mat-icon>
                <span [fxHide.lt-sm]="true">{{action.actionPercent}}%</span>
            </button>
        </div>
        
        <div fxFlex="10">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteAction()">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Delete</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
            
        </div>
        
    </ng-container>
    
</div>