table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-name {
    width: 20%;
}

.mat-column-spell-list {
    width: 20%;
}

.mat-column-level {
    width: 10%;
}

.mat-column-type {
    width: 10%;
}

.mat-column-subtype {
    width: 10%;
}

.mat-column-preparation {
    width: 10%;
}

.mat-column-target {
    width: 10%;
}

.mat-column-range {
    width: 10%;
}

.tr-data {
    cursor: pointer;
}