<section class="example-section">
  <mat-slide-toggle
      [(ngModel)]="includeUndevelopedSkills"
      class="example-margin"
      color="primary"
      checked="true">
      Include undeveloped skills.
  </mat-slide-toggle>
</section>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="skillDataSource!" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>
  <ng-container matColumnDef="skillId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Skill</th>
    <td mat-cell *matCellDef="let element"> {{element.skillId}} </td>
  </ng-container>
  <ng-container matColumnDef="categoryId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
  </ng-container>
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
  </ng-container>
  <ng-container matColumnDef="developmentCost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dev</th>
    <td mat-cell *matCellDef="let element">{{element.developmentCost}}</td>
  </ng-container>
  <ng-container matColumnDef="adolescenceRanks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ad Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.ranks.adolescence && element.ranks.adolescence != 0 ? element.ranks.adolescence : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="developmentRanks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dev Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.ranks.development && element.ranks.development != 0 ? element.ranks.development : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="consolidatedRanks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Con Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.ranks.consolidated && element.ranks.consolidated != 0 ? element.ranks.consolidated : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="ranks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.ranks | json}}</td>
  </ng-container>
  <ng-container matColumnDef="bonusAttribute">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>B Attr</th>
    <td mat-cell *matCellDef="let element">{{element.bonus.attribute && element.bonus.attribute != 0 ? element.bonus.attribute : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="bonusCategory">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>B Cat</th>
    <td mat-cell *matCellDef="let element">{{element.bonus.category && element.bonus.category != 0 ? element.bonus.category : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="bonusRanks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>B Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.bonus.rank && element.bonus.rank != 0 ? element.bonus.rank : ""}}</td>
  </ng-container>
  <ng-container matColumnDef="bonus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bonus</th>
    <td mat-cell *matCellDef="let element">{{element.bonus | json}}</td>
  </ng-container>
  <ng-container matColumnDef="totalRanks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Ranks</th>
    <td mat-cell *matCellDef="let element">{{element.totalRanks}}</td>
  </ng-container>
  <ng-container matColumnDef="totalBonus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Bonus</th>
    <td mat-cell *matCellDef="let element">{{element.totalBonus}}</td>
  </ng-container>
  <ng-container matColumnDef="options" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="updateRank(element.skillId, 1)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="updateRank(element.skillId, -1)">
        <mat-icon>remove</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<button mat-button (click)="openDialogAddSkill()">Add Skill
</button>