table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-name {
    width: 30%;
}

.mat-column-version {
    width: 20%;
}

.mat-column-available-realms {
    width: 50%;
}

.mat-chip {
    font-size: 10pt;
}