<mat-toolbar>
    <span>Race</span>
    <div class="div-spacer"></div>
    <button mat-button routerLink="/races">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<div class="outerContainer" *ngIf="race">

    <div fxLayout fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15">
        <div fxFlex="25">
            <app-race-basic-info [race]="race"></app-race-basic-info>
        </div>
        <div fxFlex="25">
            <app-race-attributes [race]="race"></app-race-attributes>
            <br>
            <app-race-resistances [race]="race"></app-race-resistances>
        </div>
        <div fxFlex="25">
            <app-race-adolescence-skill-categories [race]="race"></app-race-adolescence-skill-categories>
        </div>
        <div fxFlex="25">
            <app-race-adolescence-skills [race]="race"></app-race-adolescence-skills>
        </div>
    </div>
    
    <div fxLayout="column" fxLayoutGap="15">
        <div>
        </div>
        <div>
        </div>
        <div>
            <app-race-skill-bonus></app-race-skill-bonus>
        </div>
        <div>
            <app-race-languages></app-race-languages>
        </div>
    </div>

</div>

<pre>{{race | json}}</pre>