<div *ngIf="tacticalRound">
<div *ngIf="!action">
    <button mat-button *ngIf="this.tacticalRound.state == 'action-declaration'" (click)="openActionSelectionDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div *ngIf="action">
    
    <button mat-button color="primary" (click)=openAction()>
        <mat-icon *ngIf="action.type == 'movement'">directions_run</mat-icon>
        <mat-icon *ngIf="action.type == 'melee-attack'">local_dining</mat-icon>
        <mat-icon *ngIf="action.type == 'missile-attack'">u_turn_right</mat-icon>
        {{action.actionPercent}}
    </button>

    <button mat-button color="primary" *ngIf="this.tacticalRound.state == 'action-resolution' && this.action.state != 'TODO'">
        <mat-icon>arrow_circle_up</mat-icon>
    </button>
    
   
    <button mat-button (click)="deleteAction()">
        <mat-icon>delete</mat-icon>
    </button>

</div>
</div>
