<div *ngIf="tacticalRound">
<div *ngIf="!action">
    <button mat-button (click)="openActionSelectionDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div *ngIf="action">
    
    <button mat-button color="primary" (click)=openAction()>
        <mat-icon *ngIf="action.type == 'movement'">directions_run</mat-icon>
        <mat-icon *ngIf="action.type == 'melee-attack'">local_dining</mat-icon>
        {{action.actionPercent}}
    </button>
   
    <button mat-button (click)="deleteAction()">
        <mat-icon>delete</mat-icon>
    </button>

</div>
</div>
