<table>
    <tr>
        <th>Attribute</th>
        <th>Current</th>
        <th>Potential</th>
        <th>Basic bonus</th>
        <th>Racial bonus</th>
        <th>Special bonus</th>
        <th>Bonus</th>
    </tr>
    <tr>
        <td>Agility</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.ag?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.ag?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.ag?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.ag?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.ag?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.ag?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Constitution</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.co?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.co?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.co?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.co?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.co?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.co?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Memory</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.me?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.me?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.me?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.me?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.me?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.me?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Reasoning</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.re?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.re?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.re?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.re?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.re?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.re?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Self discipline</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.sd?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.sd?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.sd?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.sd?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.sd?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.sd?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Empathy</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.em?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.em?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.em?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.em?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.em?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.em?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Intuition</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.in?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.in?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.in?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.in?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.in?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.in?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Presence</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.pr?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.pr?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.pr?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.pr?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.pr?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.pr?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Quickness</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.qu?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.qu?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.qu?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.qu?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.qu?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.qu?.totalBonus}}</td>
    </tr>
    <tr>
        <td>Strength</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.st?.currentValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.st?.potentialValue}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.st?.baseBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.st?.racialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.st?.specialBonus}}</td>
        <td class="attribute-value">{{this.characterInfo?.attributes?.st?.totalBonus}}</td>
    </tr>
</table>