table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-name {
    width: 240px;
}

.mat-column-version {
    width: 80px;
}

.mat-column-group {
    width: 160px;
}

.mat-column-attributes {
    width: 160px;
}

.mat-column-progression-type {
    width: 160px;
}
