<mat-selection-list #shoes [multiple]="false">
  <div mat-subheader>Sessions</div>

  <mat-list-option *ngFor="let session of sessions" [value]="session" (click)="onSelect(session)">
    <mat-icon mat-list-icon (click)="deleteSession(session)">delete</mat-icon>
    <mat-icon mat-list-icon>person</mat-icon>
    <div>{{session.name}}</div>
  </mat-list-option>

  <mat-list>
    <button mat-stroked-button color="primary" (click)="createSession()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-list>

</mat-selection-list>
