<h1>Under development</h1>


Test debuffs

<ul>
    <li>
        Stun icon test
        <ul>
            <li><img src="assets/images/stun.png" width="100" height="100"></li>
            <li><img src="assets/images/stun.png" width="50" height="50"></li>
            <li><img src="assets/images/stun.png" width="25" height="25"></li>>
        </ul>
        <ul>
            <li><img src="assets/images/stun-02.png" width="100" height="100"></li>
            <li><img src="assets/images/stun-02.png" width="50" height="50"></li>
            <li><img src="assets/images/stun-02.png" width="25" height="25"></li>>
        </ul>
        <ul>
            <li><img src="assets/images/stun-03.png" width="100" height="100"></li>
            <li><img src="assets/images/stun-03.png" width="50" height="50"></li>
            <li><img src="assets/images/stun-03.png" width="25" height="25"></li>>
        </ul>
    </li>
    <li>
        Main hand attack
        <ul>
            <li><img src="assets/images/melee-combat-main-hand-01.png" width="100" height="100"></li>
            <li><img src="assets/images/melee-combat-main-hand-01.png" width="50" height="50"></li>
            <li><img src="assets/images/melee-combat-main-hand-01.png" width="25" height="25"></li>
        </ul>
    </li>
    <li>
        Off-hand attack
        <ul>
            <li><img src="assets/images/melee-combat-off-hand.png" width="100" height="100"></li>
            <li><img src="assets/images/melee-combat-off-hand.png" width="50" height="50"></li>
            <li><img src="assets/images/melee-combat-off-hand.png" width="25" height="25"></li>
        </ul>
    </li>
    <li>
        Two weapons attack
        <ul>
            <li><img src="assets/images/melee-two-weapons.png" width="100" height="100"></li>
            <li><img src="assets/images/melee-two-weapons.png" width="50" height="50"></li>
            <li><img src="assets/images/melee-two-weapons.png" width="25" height="25"></li>
        </ul>
    </li>
</ul>