<mat-toolbar>
    <span><mat-icon>scatter_plot</mat-icon> Flaws</span>
    <div class="div-spacer"></div>
</mat-toolbar>

<div class="outerContainer">

    <mat-form-field appearance="outline">
        <mat-label>Version</mat-label>
        <mat-select [formControl]="versionControl" (valueChange)="onVersionChange($event)">
            <mat-option value="">All</mat-option>
            <mat-option value="rmss">RMSS</mat-option>
            <mat-option value="rmu">RMU</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <table mat-table #skillTable [dataSource]="dataSource" aria-describedby="Flaw list">
        <ng-container matColumnDef="name">
            <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="version">
            <th scope="col" mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">{{element.version | uppercase}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th scope="col" mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.category | titlecase}}</td>
        </ng-container>
        <ng-container matColumnDef="cost-type">
            <th scope="col" mat-header-cell *matHeaderCellDef>Cost type</th>
            <td mat-cell *matCellDef="let element">{{element.costType  | titlecase}}</td>
        </ng-container>
        <ng-container matColumnDef="cost">
            <th scope="col" mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let element">{{element.cost}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/flaws/detail/', row.id]" class="tr-data"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Select page of users"></mat-paginator>

</div>