<div *ngIf="version">
    <table mat-table #characterCreationAttributes [dataSource]="dataSource" aria-describedby="Character creation attributes">
        <ng-container matColumnDef="attribute">
            <th scope="col" mat-header-cell *matHeaderCellDef>Attribute</th>
            <td mat-cell *matCellDef="let element">{{element.attribute}}</td>
        </ng-container>
        <ng-container matColumnDef="current-value">
            <th scope="col" mat-header-cell *matHeaderCellDef>C</th>
            <td mat-cell *matCellDef="let element">{{element.currentValue}}</td>
        </ng-container>
        <ng-container matColumnDef="potential-value">
            <th scope="col" mat-header-cell *matHeaderCellDef>P</th>
            <td mat-cell *matCellDef="let element">{{element.potentialValue}}</td>
        </ng-container>
        <ng-container matColumnDef="bonus-attribute">
            <th scope="col" mat-header-cell *matHeaderCellDef>B/At</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.bonusAttribute != 0">{{element.bonusAttribute}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="bonus-race">
            <th scope="col" mat-header-cell *matHeaderCellDef>B/R</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.bonusRace != 0">{{element.bonusRace}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="cost">
            <th scope="col" mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.cost != 0">{{element.cost}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="totalBonus">
            <th scope="col" mat-header-cell *matHeaderCellDef>Bonus</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.totalBonus != 0">{{element.totalBonus}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="currentValueSlider">
            <th scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-slider [(ngModel)]="element.currentValue" [max]="100" [min]="1" thumbLabel=true (change)="updateAttribute(element.attribute)" class="full-width"></mat-slider>
            </td>
        </ng-container>
        <ng-container matColumnDef="currentValueButtons">
            <th scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="incrementValue(element.attribute, -1)">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="incrementValue(element.attribute, 1)">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" _class="tr-data"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No results found.</td>
        </tr>
    </table>
</div>

<div *ngIf="version" class="{{this.totalCost > this.availableCost ? 'text-warning' : 'text'}}">Used {{this.totalCost}} of {{this.availableCost}} attribute development points.</div>
