<mat-toolbar>
    <mat-icon>{{spellIcon}}</mat-icon>
    <a routerLink="/spell-lists" style="color: white;">&nbsp;Spell Lists</a>
    <span>&nbsp;/&nbsp;</span>
    <a routerLink="/spell-lists/detail/{{spell.spellListId}}" style="color: white;">{{spell.spellListId}}</a>
    <span>&nbsp;/&nbsp;</span>
    <span>{{spell.name}}</span>
</mat-toolbar>

<div style="margin-top: 15pt;">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.level}}" readonly="true">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Preparation</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.preparation}}" readonly="true">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Target</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.targetType}}" readonly="true">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 10pt;">
            <mat-label>Target modifier</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.targetModifier}}" readonly="true">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.durationType}}" readonly="true">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 10pt;">
            <mat-label>Duration modifier</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.durationModifier}}" readonly="true">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Range</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.rangeType}}" readonly="true">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 10pt;">
            <mat-label>Range modifier</mat-label>
            <input matInput placeholder="Placeholder" value="{{spell.rangeModifier}}" readonly="true">
        </mat-form-field>
    </p>
    <p>{{spell.description}}</p>
</div>
