<mat-toolbar>
    <a routerLink="/spell-lists" style="color: white;">Spell Lists</a>
    <span>&nbsp;/&nbsp;</span>
    <a routerLink="/spell-lists/{{spell.spellListId}}" style="color: white;">{{spell.spellListId}}</a>
    <span>&nbsp;/&nbsp;</span>
    <span>{{spell.name}}</span>
</mat-toolbar>

<div>
    <p>List: <a routerLink="/spell-lists/detail/{{spell.spellListId}}">{{spell.spellListId}}</a></p>
    <p>Level: {{spell.level}}</p>
    <p>Type: {{spell.type}}</p>
    <p>Preparation: {{spell.preparation}}</p>
    <p>Target: {{spell.targetType}}</p>
    <p>Duration: {{spell.durationType}}</p>
    <p>Range: {{spell.rangeType}}</p>
    <p>{{spell.description}}</p>
</div>

<hr>
<br>

<pre>{{spell | json}}</pre>